var style = {
  popup:`
    position: absolute;
    margin: auto;
    width: 50%;
    height: 30%;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 999;
    display: none;
    top:0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;  
    box-shadow: 0 2px 8px #aaa;  
    overflow: hidden;
    padding: 10px;
    font-size: 1.3em;`,
  
  button:`
    color: 24a0ed;
    background-color: white;
    text-align: center;
    border-color: white;
    float: right;
    padding: 10px 20px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;`,

  alingBottom:`
    position: absolute;
    right: 0;
    bottom: 0;
  `
}

function addElement () { 
  // create a new div element 
  // and give it popup content 
  var newDiv = document.createElement("div"); 
  newDiv.innerHTML +=`<div id="popup" style="${style.popup}">
                        <div class="popup_body">
                          <%= @config.modal_text %>
                        </div>
                        <div style="${style.alingBottom}">
                          <button class="accept" onClick="showPrompt()"  style="${style.button}">Sim</button>
                          <button class="close_button" onClick="closePopup()" style="${style.button}">Não</button>
                        </div>
                      </div>`;   

  // add the newly created element and its content into the DOM 
  var currentDiv = document.getElementById("main_container"); 
  document.body.insertBefore(newDiv, currentDiv); 

  // open popup onload
  openPopup();
}

function openPopup() {
  if(window.installPromptEvent){
    var el = document.getElementById('popup');
    el.style.display = 'block';
    
    // Updates: set window background color black
    document.body.style.background = '#353333';
  }
}

function closePopup() {
  var el = document.getElementById('popup');
  el.style.display = 'none';
  document.body.style.background = 'white';
  window.installPromptEvent = null
}

function showPrompt() {
  var el = document.getElementById('popup');
  el.style.display = 'none';
  document.body.style.background = 'white';
  window.installPromptEvent.prompt();
  window.installPromptEvent.userChoice.then((choice) => {
    if (choice.outcome === 'accepted') {
      console.log('User accepted the A2HS prompt');
    } else {
      console.log('User dismissed the A2HS prompt');
    }
    // Clear the saved prompt since it can't be used again
    installPromptEvent = null;
  });
}

window.showPrompt = showPrompt;
window.closePopup = closePopup;

<% if @config.enable_timer %>
  setTimeout(addElement, <%= @config.timer %>);
<% end %>
