<div class="container">
  <div class="row">
    <div class="col-12">
      Ola manito, como voce esta?
      # TODO fazer o HTML

      #botao 1 - Baixa o App
      #Botao 2 - Vai para Pagina de Enviar Push.
      #Possivelmente tem que fazer uma conta para poder mandar para todos que ja entraram na pagina de demonstracao para mandar push para eles:
      "Viu como funciona, agende uma demo agora: CLica e vai pro whats"
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary"> Baixar o App </button>
    </div>
    <div class="col-6">
      <a class="btn btn-primary" href="<%= new_demo_campaign_path %>"> Criar Campanha </a>
    </div>
  </div>
</div>