<div id="leftcard">
  <div id="blocklist">
      <div class="blockelem create-flowy noselect">
          <input type="hidden" name='blockelemtype' class="blockelemtype" value="1">
          <div class="grabme">
              <i class="tio-xl tio-more-vertical"></i>
          </div>
          <div class="blockin">
              <div class="blockico">
                  <span></span>
                  <i class="tio-xl tio-visible"></i>
              </div>
              <div class="blocktext">
                  <p class="blocktitle">Novo Visitante</p>
                  <p class="blockdesc">Aciona quando um novo visitante aceita receber notificações</p>
              </div>
          </div>
      </div>
      <div class="blockelem create-flowy noselect">
          <input type="hidden" name='blockelemtype' class="blockelemtype" value="2">
          <div class="grabme">
              <i class="tio-xl tio-more-vertical"></i>
          </div>
          <div class="blockin">
              <div class="blockico">
                  <span></span>
                  <i class="tio-xl tio-visible"></i>
              </div>
              <div class="blocktext">
                  <p class="blocktitle">Pagina Vizualizada</p>
                  <p class="blockdesc">Aciona quando uma pagina e vizualizada pelo visitante</p>
              </div>
          </div>
      </div>
      <div class="blockelem create-flowy noselect">
          <input type="hidden" name='blockelemtype' class="blockelemtype" value="4">
          <div class="grabme">
              <i class="tio-xl tio-more-vertical"></i>
          </div>
          <div class="blockin">
              <div class="blockico">
                  <span></span>
                  <i class="tio-xl tio-timer-40-s"></i>
              </div>
              <div class="blocktext">
                  <p class="blocktitle">Aguardar</p>
                  <p class="blockdesc">Arguarda por um periodo especifico de tempo antes de realizar a proxima acao</p>
              </div>
          </div>
      </div>
      <div class="blockelem create-flowy noselect">
          <input type="hidden" name='blockelemtype' class="blockelemtype" value="3">
          <div class="grabme">
              <i class="tio-xl tio-more-vertical"></i>
          </div>
          <div class="blockin">
              <div class="blockico">
                  <span></span>
                  <i class="tio-xl tio-send-outlined"></i>
              </div>
              <div class="blocktext">
                  <p class="blocktitle">Enviar Notificação</p>
                  <p class="blockdesc">Envia uma notificação baseada em um tamplate</p>
              </div>
          </div>
      </div>
      <div class="blockelem create-flowy noselect">
          <input type="hidden" name='blockelemtype' class="blockelemtype" value="5">
          <div class="grabme">
              <i class="tio-xl tio-more-vertical"></i>
          </div>
          <div class="blockin">
              <div class="blockico">
                  <span></span>
                  <i class="tio-xl tio-block-ads"></i>
              </div>
              <div class="blocktext">
                  <p class="blocktitle">Fim</p>
                  <p class="blockdesc">Finaliza a trilha de automação</p>
              </div>
          </div>
      </div>
  </div>
</div>
<%= render partial: "properties" %>
<div id="canvas">
</div>