<div id="main">
  <div class="brand-bar-3" style=<%= "background-color:\##{background_color || current_shop.optins.page.last.background_color}" %>></div>
  <div class="brand-message-3">
    <h1><%= title || current_shop.optins.page.last.title %></h1>
    <h2>Só falta clicar em <i>Permitir</i></h2>
  </div>

  <iframe width="420" height="315" frameBorder="0" class="youtube-3" src="https://www.youtube.com/embed/y5vc9lL7lKI"></iframe>
</div>