<div class="brand-bar"></div>
<div class="brand-logo">
  <img src="https://appify-skin.s3.amazonaws.com/variants/z2391y0heh7o97l30xf6wgp5prxu/514a418bda2b67258484ff40406b56a8e80c881ee6cf9bc374059519addc56aa">
</div>

<div class="brand-message">
  <h1>Tudo pronto para uma experiência premium de compra</h1>
  <h2>Só falta clicar em <i>Permitir</i></h2>
</div>