<!-- Fullcalendar-->
<div class="js-fullcalendar fullcalendar-custom" data-hs-fullcalendar-options='
{ 
  "height": "auto",
  "headerToolbar": {
    "left": "prev,next today",
    "center": "title",
    "right": ""
  },
  "events": <%= calendar_events %>
}'></div>
<!-- End Fullcalendar -->