<form>
<!-- Form Group -->
<!-- Flatpickr -->
<input type="text" class="js-flatpickr form-control flatpickr-custom" placeholder="Select dates"
       data-hs-flatpickr-options='{
         "dateFormat": "d/m/Y"
       }'>
<!-- End Flatpickr -->
<!-- End Form Group -->
  <div class="form-group">
    <label class="input-label" for="exampleFormControlTitleInput">Text</label>
    <input type="text" id="exampleFormControlTitleInput" class="form-control form-control-title" placeholder="John Doe">
  </div>

  <div class="form-group">
    <label class="input-label" for="exampleFormControlInput2">Password</label>
    <input type="password" id="exampleFormControlInput2" class="form-control" value="********">
  </div>

  <div class="form-group">
    <label class="input-label">Helper text</label>
    <input type="password" class="form-control" value="**********">
    <span class="text-muted font-size-1">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</span>
  </div>

  <div class="form-group">
    <label class="input-label" for="exampleFormControlInput3">Email</label>
    <input type="email" id="exampleFormControlInput3" class="form-control" placeholder="name@example.com">
  </div>

  <div class="form-group">
    <label class="input-label" for="exampleFormControlSelect1">Select <span class="input-label-secondary">(Optional)</span></label>
    <select id="exampleFormControlSelect1" class="form-control">
      <option>Choose an option</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label class="input-label" for="exampleFormControlSelect2">Multiple select</label>
    <select id="exampleFormControlSelect2" class="form-control" size="3" multiple>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label class="input-label" for="exampleFormControlTextarea1">Textarea</label>
    <textarea id="exampleFormControlTextarea1" class="form-control" placeholder="Textarea field" rows="4"></textarea>
  </div>
</form>