<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card mb-3 mb-lg-5">
      <div class="card-header">
        <h2 class="card-title h4">Nova Campanha</h2>
      </div>

      <!-- Body -->
      <div class="card-body">
        <!-- Form -->
        <%= render "form", url: admin_campaigns_path(@campaign), method: :post %>
        <!-- End Form -->
      </div>
      <!-- End Body -->
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <%= render "pushes_preview", url: admin_campaigns_path(@campaign), method: :post %>
  </div>
</div>