<div class="card m-3 integration-card hover-disabled" data-toggle="modal" data-target="#ga">
  <%= image_tag "https://appify-assets.s3.amazonaws.com/google-analytics.png", class:"logo" %> 
</div>

<!-- The Modal -->
<div class="modal" id="ga">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Google Analytics</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Estamos trabalhando para integrar a Aplicatify ao Google Analytics! Em breve teremos novidades para você.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>