<div class="card m-3 integration-card hover-disabled" data-toggle="modal" data-target="#rastreio">
  <%= image_tag "https://appify-assets.s3.amazonaws.com/rastreio.png", class:"logo" %> 
</div>

<!-- The Modal -->
<div class="modal" id="rastreio">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Rastreio.net</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Em breve você poderá conectar a sua loja com o aplicativo Rastreio para enviar atualizações automáticas sobre a entrega dos pedidos dos seus clientes com mensagens push.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>