<div class="card m-3 integration-card" data-toggle="modal" data-target="#shopify">
  <%= image_tag "https://appify-assets.s3.amazonaws.com/shopify-bag.png", class:"logo" %> 
</div>

<!-- The Modal -->
<div class="modal" id="shopify">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Shopify</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Você ja esta integrado com a shopify!
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>