// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.push-macos {
  display: inline-grid;
  grid-template-columns: 13.89fr 66.73fr 19.38fr;
  font-family: Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica, sans-serif;
  width: 373px;
  max-height: 106px;
  background-color: rgb(240, 240, 240);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 13px 1px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  user-select: none;
  border-radius: 8px;

  .chrome-logo {
    align-self: center;
    justify-self: center;
  }
  
  .app-logo {
    align-self: center;
    justify-self: center;
  }
  
  .push-website {
    font-size: 0.7rem;
  }
}

.push-windows {
  font-size: 9px;
  width: 45.4375em;
  background: rgb(32, 32, 32);

  .push-image {
    width: 100%;
  }
  
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 2em 2.9375em;
    margin: -3px;
  }

  .main {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .app-logo-housing {
    padding: 2.9375em 2em;
  }

  .app-logo{
    width: 6.0625em;
  }

  .push-body {
    padding: 2.9375em 0px 2.5em;
    width: 68.36%;

    .push-title {
      color: rgb(255, 255, 255);
      font-size: 190%;
      letter-spacing: 0.1px;
      margin: 0px;
      max-height: 40px;
      overflow: hidden;
    }
  
    .push-text {
      letter-spacing: 0px;
      font-size: 190%;
      font-weight: 400;
      margin: 0px;
      max-height: 80px;
      white-space: pre-wrap;
      overflow: hidden;
    }
  
    .push-website {
      font-size: 150%;
      margin-top: 10px;
    }
  }
}


.push-android {
  width: 405px;
  margin: 0px auto;
  line-height: 1px;

  .main {
    max-height: 230px;
    font-family: Roboto, "Open Sans", Arial, Helvetica, sans-serif;
    padding: 16px;
    border-radius: 2px;
    background-color: rgb(254, 254, 254);
    box-shadow: rgb(0, 0, 0 ) 0px 2px 2px 0px, rgb(0, 0, 0) 0px 3px 1px -2px, rgb(0, 0, 0) 0px 1px 5px 0px;
    max-width: 500px;
    overflow-y: hidden;
    transition: max-height 0.3s ease-out 0s;
    box-sizing: content-box;

    .push-header {
      display: flex;
      font-size: 12px;
      line-height: 15px;

      .chrome-logo{
        width: 13.12px;
        height: 13.12px;
        fill: rgb(117, 117, 117);
        margin-right: 5.9px;
      }
      
      .push-website {
        color: rgb(99, 99, 99);
        margin-right: 4px;
      }
    }
  }

  .app-logo {
    width: 38px;
    min-width: 38px;
    max-width: 38px;
    min-height: 38px;
    max-height: 38px;
    height: 38px;
    background-color: rgb(254, 254, 254);
  }

  .push-body {
    margin-top: 8px;
    //width: 68.36%;
    //padding: 2.9375em 0px 2.5em;
    color: rgb(167, 167, 167);
    font-family: "Segoe UI", Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica, sans-serif;

    .push-image {
      display: flex;
      width: 100%;
      max-height: 160px;
      object-fit: cover;
      margin-top: 10px;
      background-color: rgb(254, 254, 254);
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
    }
  }

  .push-content {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;

    .lh-1 {
      line-height: 1px;
    }

    .push-title {
      color: rgb(83, 83, 83);
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      letter-spacing: 0.1px;
      margin: 0px;
      display: inline-block;
      overflow: hidden;
      width: 315px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    .push-text {
      font-size: 14px;
      line-height: 20px;
      color: rgb(117, 117, 117);
      font-weight: 400;
      letter-spacing: 0.1px;
      margin: 0px;
      display: inline-block;
      overflow: hidden;
      width: 315px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}


.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  font: revert !important;

  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #E95362, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #E95362;
    background-color: #fcfcfa;
  }
}

.campaigns {

  tbody {
    border-color: #E95362;
  }

  td {
    font: Normal 30px/36px Varela Round;
    letter-spacing: 0px;
    color: #E95362;
  }

  .sub-label {
    font: Normal 15px/18px Varela Round;
    letter-spacing: 0px;
    color: #8B8B8B;
    opacity: 1;
  }
}

tr.spacer td {
  border: none;
}

td.no-font{
  font: revert !important;
}