body {
  font-family: 'Montserrat', sans-serif;
}

.brand-bar {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  height: 50%;
  width: 70%;
  background-color: #E95362;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 1080px) {
    height: 37%;
    width: 100%
  }
}

.brand-logo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;

  img {
    transform: translate(10%, 10%);
    height: 100px;
    width: 100px;
  }

  @media screen and (max-width: 1080px) {
    top: 31.5%;
    width: 100px;
    height: 100px;

    img {
      height: 80px;
      width: 80px;
      transform: translate(10px, 10px);
    }
  }
}

.brand-message {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;

  @media screen and (max-width: 1080px) {
    transform: translate(0%, -35%);
    width: 100%;
    top: 50%;
    left: 0%;
  }
}

h1 {
  padding: 0px 10px 0px 10px;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 25px;
  @media screen and (max-width: 1080px) {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

h2 {
  padding: 0px 10px 0px 10px;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  @media screen and (max-width: 1080px) {
    font-size: 14px;
    margin-bottom: 12px;
  }

}

.flywheel-link {
  position: fixed;
  bottom: 5%;
  left: 5%;
  color:black;
}

.flywheel-link:visited {
  color:black;
}