<header id="header" class="navbar navbar-expand-xl navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered">
  <div class="js-mega-menu navbar-nav-wrap">
    <!-- Navbar -->
    <div class="navbar-nav-wrap-content-left collapse navbar-collapse" id="navbarNavMenu">
      <div class="navbar-body">
        <ul class="navbar-nav flex-grow-1">
          <!-- Home -->
          <li class="nav-item ">
            <a class="navbar-nav-link nav-link" href="<%= admin_home_index_path %>">
              <i class="tio-home-vs-1-outlined nav-icon"></i> Home
            </a>
          </li>
          <!-- End Home -->
          <!-- Home -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-nav-link nav-link nav-link-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="tio-home-vs-1-outlined nav-icon"></i> Dashboards
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <!-- End Home -->
        </ul>
      </div>
    </div>
    <!-- End Navbar -->
  </div>
</header>